<h1>Visitors per day</h1>
<ngx-charts-heat-map [min]="heatmapMin" [max]="heatmapMax" [view]="[1100, 200]" [scheme]="colorScheme"
    [results]="calendarData" [animations]="true" [legend]="true" [gradient]="false" [xAxis]="true" [yAxis]="true"
    [showXAxisLabel]="false" [showYAxisLabel]="false" [xAxisTickFormatting]="calendarAxisTickFormatting"
    [tooltipText]="calendarTooltipText" [innerPadding]="innerPadding" [tooltipDisabled]="false" [trimXAxisTicks]="true"
    [trimYAxisTicks]="true" [rotateXAxisTicks]="true" [maxXAxisTickLength]="maxXAxisTickLength"
    [maxYAxisTickLength]="maxYAxisTickLength">
</ngx-charts-heat-map>