<mat-sidenav-container class="container-sidenav">
    <mat-sidenav-content #contentNews>
        <div class="headerPage">
            <h2>News</h2>
            <div class="buttonContainer">
                <button mat-fab extended color="primary" class="btn-create" (click)="showCreate()">
                    <mat-icon>add</mat-icon>
                    Create
                </button>
                <button mat-fab extended color="primary" class="btn-edit" (click)="showEdit()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-fab extended color="primary" class="btn-delete" (click)="deleteNews()">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </div>
        </div>

        <mat-form-field class="filterInput">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Example: Cine" #input>
        </mat-form-field>

        <div class="table-container">

            <table mat-table matSort multiTemplateDataRows [dataSource]="dataSourceNews" matSortActive="created"
                matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                    <td mat-cell *matCellDef="let news">{{news.id}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                    <td mat-cell *matCellDef="let news">{{news.title}}</td>
                </ng-container>

                <ng-container matColumnDef="subtitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtitle</th>
                    <td mat-cell *matCellDef="let news">{{news.subtitle}}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Date
                    </th>
                    <td mat-cell *matCellDef="let news">{{news.date}}</td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Image
                    </th>
                    <td mat-cell *matCellDef="let news">{{news.image && news.image.length > 15 ?
                        news.image.substring(0,15)+"..." : news.image
                        }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let news">
                        {{news.description.length > 15 ?
                        news.description.substring(0,15)+"..." : news.description
                        }}</td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="container-img-detail">
                                @if(element.image){
                                <img [src]="element.image" class="img-detail">
                                }
                                <div class="container-detail">
                                    <p><b>Title:</b> {{element.title}}</p>
                                    <p><b>Subtitle:</b> {{element.subtitle}}</p>
                                    <p><b>Date:</b>{{element.date}}</p>
                                    <div class="element-description">
                                        <b>Description:</b>
                                        {{element.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
                    [class.example-expanded-row]="expandedElement === row"
                    (click)="expandedElement = expandedElement === row ? null : row">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
        </div>
    </mat-sidenav-content>

    <mat-sidenav #createNav [mode]='"over"' fixedTopGap="56" class="modal-CRUD" [opened]="isOpenCRUDNav"
        (closed)="isOpenCRUDNav = false" (opened)="isOpenCRUDNav = true">
        <h4>{{ titleModal }}</h4>
        <section class="formContainer">
            <mat-form-field>
                <mat-label>Title *</mat-label>
                <input matInput [(ngModel)]="selectedNews.title">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Subtitle *</mat-label>
                <input matInput [(ngModel)]="selectedNews.subtitle">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date *</mat-label>
                <input matInput type="datetime-local" [(ngModel)]="selectedNews.date">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description *</mat-label>
                <textarea matInput [(ngModel)]="selectedNews.description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Image (URL)</mat-label>
                <input matInput [(ngModel)]="selectedNews.image">
            </mat-form-field>

            <button mat-fab extended color="primary" style="margin-top: 5px;" (click)="saveNews()">
                <mat-icon>done</mat-icon>
                Save
            </button>
        </section>
    </mat-sidenav>
</mat-sidenav-container>